body {
  min-width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-left: 16px;
  padding-right: 16px;
}

.nav-link {
  display: inline-block;
  overflow: hidden;
  vertical-align: top;
  padding: 0;

  -webkit-perspective: 300px;
  -moz-perspective: 300px;
  -ms-perspective: 300px;
  perspective: 300px;

  -webkit-perspective-origin: 50% 50%;
  -moz-perspective-origin: 50% 50%;
  -ms-perspective-origin: 50% 50%;
  perspective-origin: 50% 50%;
}

.nav-link:hover {
  background: none;
  text-shadow: none;
}

.nav-link span {
  display: block;
  position: relative;
  padding: 0 2px;
  pointer-events: none;

  -webkit-transition: all 600ms ease;
  -moz-transition: all 400ms ease;
  -ms-transition: all 400ms ease;
  transition: all 400ms ease;

  -webkit-transform-origin: 50% 0%;
  -moz-transform-origin: 50% 0%;
  -ms-transform-origin: 50% 0%;
  transform-origin: 50% 0%;

  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.nav-link:hover span {
    background: none;

    -webkit-transform: translate3d( 0px, 0px, -55px ) rotateX( 90deg );
       -moz-transform: translate3d( 0px, 0px, -55px ) rotateX( 90deg );
        -ms-transform: translate3d( 0px, 0px, -55px ) rotateX( 90deg );
            transform: translate3d( 0px, 0px, -55px ) rotateX( 90deg );
}
.nav-link span:after {
    content: attr(data-title);

    display: block;
    position: absolute;
    left: 0;
    top: 0;
    padding: 1px 2px;
    white-space: nowrap;

    color: white;
    background: #000; 

    -webkit-transform-origin: 50% 0%;
       -moz-transform-origin: 50% 0%;
        -ms-transform-origin: 50% 0%;
            transform-origin: 50% 0%;

    -webkit-transform: translate3d( 0px, 105%, 0px ) rotateX( -90deg );
       -moz-transform: translate3d( 0px, 105%, 0px ) rotateX( -90deg );
        -ms-transform: translate3d( 0px, 105%, 0px ) rotateX( -90deg );
            transform: translate3d( 0px, 105%, 0px ) rotateX( -90deg );
}

section {
  height: 100vh;
  width: 100%;
  display: flex;
}

.row {
  align-items: center;
  margin: 0 auto;
}
.intro-section {
    height: 100%;
    text-align: center;
    /*background-image: url("../wordcloud.jpg");*/
    /*background: contain no-repeat; */
}

.about-section {
    height: 100%;
    text-align: center;
    background: #ffffff;
    color: #000000;
}

.services-section {
    height: 100%;
    text-align: center;
    background: #000000;
    color: #ffffff;
    
}

.contact-section {
    height: 100%;
    text-align: center;
    background: #ffffff;
    color: #000000;
}

#introduction {
    font-size: 30px;
}

.banner {
    font-size: 30px;
    margin: 0px;
    margin-top: 20px;
}
.sub-banner{
    font-size: 20px;
}

#myVideo {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 88%; 
    min-height: 100%;
    width: auto; 
    height: auto;
    background-size: cover;
    overflow: hidden;
    opacity: 0.5;
}

.badge {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  font-size: 20px;
  color: #fff;
  line-height: 38px;
  text-align: center;
  background: #000
}

h1.about-me {
  margin-bottom: 50px;
}

.education {
  display: flex;
}

.masters {
  width: 50%;
}

.bachelors {
  width: 50%;
}

@media (max-width:992px) {

  .education {
    display: block;
  }
  .masters {
    width: 100%;
  }

  .bachelors {
    width: 100%;
  }
}